@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1d1d1d;
}

@theme {
  --satoshi-variable: var(--satoshi-variable);
}

@theme {
  --lastik-regular: var(--lastik-regular);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Satoshi", var(--satoshi-variable), sans-serif;
  font-weight: 400;
}
